{% extends '_base.html' %}

{% block content %}
<div class="top-section top-section--main-color homepage-header">
  <h1>Open Data 150</h1>
  <h2>Canada</h2>
</div>

<section class="page-section" id="sunburst-vizz">
  <div class="row align-center">
    <div class="column large-12">
      <div class="sunburst-chart"></div>
      <div class="sunburst-panel">
        <div class="sunburst-trail"></div>
      </div>

    </div>
  </div>
</section>
{% endblock %}

{% block script %}
<script src="./sunburst.js"></script>
{% endblock %}