// // colors
$purple: #523080;
$gray: rgba(black, .1);
$blue: #008ab3;
$main-color: $blue;

.sunburst-panel {
  background-color: $main-color;
  height: 368px;
  width: 100vw;
  position: absolute;
  left: 0;
  z-index: 11;
  top: 380px;

}

#sunburst-vizz {
    position: relative;

  .sunburst-chart {
    position: relative;
  }
  .sunburst-trail {
    position: relative;
    text-align: center;
  }
  svg {

    path {
      // stroke: rgba(white, .2);
      fill-rule: evenodd;

    }

    g {
      // fill: rgba(black, .5);
      
      .layer-0,
      .layer-1,
      .layer-2,
      .layer-3 {
        @extend .u-transition;

      }

      .layer-0 { fill: $blue};
      .layer-1 { fill: rgba(black, .15)};
      .layer-2 { fill: rgba(black, .10)};
      .layer-3 { fill: rgba(black, .05)};

      .layer-0 {
        fill: rgba($main-color, .7);
        
        &:hover {}
      }
      .layer-1 {
        &:nth-child(even) {fill: rgba(black, 1);}
        &:hover {fill: rgba($main-color, .5);}
      }
      .layer-2 {
        &:nth-child(even) {fill: rgba(black, .15);}
        &:hover {fill: rgba($main-color, .5);}
      }
      .layer-3 {
        &:nth-child(even) {fill: rgba(black, .1);}
        &:hover {fill: rgba($main-color, .5);}
      }
    }

    text {
      font-family: $main-font;
      font-size: 12px;
    }
  }
  .tooltips {
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    font-family: $main-font;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: white;
    width: 700px;
    height: 100px;
    position: absolute;
    z-index: 18;
    top: 360px;
    left: calc(50% - 312px);
  }
  .tooltip-title {font-size: 24px;}
  .tooltip-location {
    &:before { content:"Location: "}
  }
  .tooltip-company-type {
    &:before { content:"Company Type: "}
  }
  .tooltip-company-category {
    &:before { content:"Company Category: "}
  }
  .tooltip-source-count {
    &:before { content:"Number of sources used: "}
  }
  .tooltip-used-by {
    &:before { content:"Used by "}
    &:after {content: " companies"}
  }
  .tooltip-fte {
    &:before { content:"# of Full Time Employees: "}
  }
  .tooltip-business-model {
    &:before { content:"Business Model: "}
  }

  .section_name {
    font-weight: 700;
  }
  #ancestor {fill: rgba($blue, .5);}
  #current {fill:red;}
  .trail-item {
    box-sizing: border-box;
    // text-align: right;
    font-family: $main-font;
    font-size: 1rem;
    font-weight: 700;
    &:after {
      font-family: 'Material Icons';
      content:"keyboard_arrow_right";
      vertical-align: -3px;
    }
    &:last-of-type { 
      &:after {content:"";}
    }
  }
}