

.sunburst-panel {
}

#sunburst-vizz {
  position: relative;

  .sunburst-wrapper { 
    transform: translate(0);
    transition: transform .5s ease;
  }

  &:hover .sunburst-wrapper {
    transform: translate(-300px);
    transition: transform .5s ease;
  }

  .sunburst-panel {
    pointer-events: none;
    width: 300px;
    position: absolute;
    top: 250px;
    left: 200px;
  }

  .sunburst__side-panel {
    position: fixed;
    background-color: darken($theme-pink, 20);
    padding: 120px 50px;
    height: 100vh;
    width: 400px;
    top: 0;
    left: -420px;
    box-shadow: 3px 3px 15px rgba(black, .8);
    transition: all .5s ease;

    h1 { font-size: 2rem; }
    h2 { font-size: 1.4rem; }
    p { font-size: 1.1rem; }
  }

  &:hover {
    // temp styles. Will need some JS to make it work properly
    // this hover behavior should work only when hovered over the sunburt chart
    .sunburst__side-panel {
      left: 0;
      transition: all .5s ease; 
    }
  }

  .tooltips {
    text-align: center;
    text-transform: uppercase;
    color: $theme-purple;
    width: 300px;
    margin: 0 auto;
    color: $theme-purple;
    
  }

  .center-info {
    align-self: center;
  }

  .side-info {
    display: none;
  }

  // All Tooltips
  .tooltip-title {
    font-size: 1.5rem;
    font-weight: 400;
    display: none;
  }

  .tooltip-total-agencies,
  .tooltip-total-companies,
  .tooltip-source-count,
  .tooltip-used-by {
    font-size: 3rem;
    line-height: 1;
    font-weight: 100;
    display: block;
    pointer-events: none;
    cursor: default;
    text-align: center;


    &:after { 
      display: block;
      content:"Sources Used";
      font-size: 1rem;
      font-weight: 400;
    }
  }

  .tooltip-total-agencies {
    font-size: 4rem;
    font-weight: 200;
    line-height: 1;
    
    &:after { 
      content:"Agencies";
      font-size: 1rem;
      font-weight: 400;
      display: block;
      margin-bottom: 20px;
    }
  }

  .tooltip-total-companies:after { content:"Companies"; }
  .tooltip-used-by:after { content: "Companies"; }



  // // Layer 3

  .tooltip__more-info {
    font-size: .9rem;
    font-weight: 100;
    text-transform: capitalize;

    span {
      font-style: normal;
      font-weight: 600;
    } 
  }

  .tooltip-location:before { 
      content:" in ";
      font-style: italic;
      font-weight: 400;
  }
  
  .tooltip-company-category { color: rgba(white, .5); }
  .tooltip-company-type:after { content:" Company"; }

  .tooltip-subagencies {
    font-weight: 400;
    text-transform: capitalize;

    span {
      background-color: rgba(white, .1);
      margin: 2px;
      padding: 2px 5px;
      display: inline-block;
      font-weight: 400;
    }

    &:before { 
      content:"Subagencies"; 
      display: block;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  .section_name { font-weight: 700; }
  #ancestor { fill: $theme-pink; }
  .ancestor-0 { fill: rgba($theme-pink, 1) !important; }
  .ancestor-1 { fill: rgba($theme-pink, 1) !important; }
  .ancestor-2 { fill: rgba($theme-pink, 1) !important; }


  .sunburst-trail {
    text-align: center;
    color: $theme-purple;
    padding: 0;
    margin: 0;
  }

  .trail-item {
    display: inline-block;
    padding: 2px 5px;
    margin: 5px 0 5px 4px;
    background-color: rgba(white, .1);

    &:last-of-type { display: none; }
  }

  .current_root {fill: darken($theme-green, 8) !important;}

  svg {
    path { fill-rule: evenodd; }
    g { 
      .layer-0 { fill: $theme-green; }
      .layer-1 { fill: rgba($theme-green, .15); }
      .layer-2 { fill: rgba($theme-green, .10); }
      .layer-3 { fill: rgba($theme-green, .05); }

      .layer-0 {

      }

      .layer-1 {
        &:nth-child(even) {fill: rgba(black, 1);}
        &:hover {fill: rgba(black, .5);}
      }
      
      .layer-2 {
        &:nth-child(even) {fill: rgba(black, .15);}
        &:hover {fill: rgba(black, .5);}
      }
      
      .layer-3 {
        &:hover {fill: rgba(black, .5);}
      }
    }
  }
  
  circle { fill: purple !important;}
}




